<?xml version="1.0" encoding="UTF-8"?>
	
<!-- <!DOCTYPE hibernate-configuration PUBLIC  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">  -->
 	
<!DOCTYPE hibernate-configuration SYSTEM
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"> 

<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->

		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/test</property>
		<property name="connection.username">root</property>
		<property name="connection.password">admin</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>

		<!-- SQL Dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- Disable the second level cache -->
		<!-- <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property> -->
		<property name="cache.use_second_level_cache">true</property>
		<property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Drop and re-create the database schema on startup -->
		<!-- <property name="hbm2ddl.auto">update</property> -->
		<!-- <property name="hbm2ddl.auto">create-drop</property> -->
		<property name="hbm2ddl.auto">create</property>

		<!-- Names the annotated entity class -->
		<mapping class="org.javabrains.koushik.dto.UserDetails"/>
		<mapping class="org.javabrains.koushik.dto.Vehicle"/>
		<mapping class="org.javabrains.koushik.dto.TwoWheeler"/>
		<mapping class="org.javabrains.koushik.dto.FourWheeler"/>
		   
		<!-- <mapping class="org.hibernate.in.action.book.selfAssociationAndValueType.dto.Message"/>
		<mapping class="org.hibernate.in.action.book.selfAssociationAndValueType.dto.Category"/>
		<mapping class="org.hibernate.in.action.book.inheritance.Table_per_concrete_class_with_implicit_polymorphism.dto.CreditCard"/>
		<mapping class="org.hibernate.in.action.book.inheritance.Table_per_concrete_class_with_implicit_polymorphism.dto.DebitCard"/>
		 -->
		<!-- <mapping class="org.hibernate.in.action.book.inheritance.Table_per_class_with_unions.dto.BillingDetails_1"/>
		<mapping class="org.hibernate.in.action.book.inheritance.Table_per_class_with_unions.dto.CreditCard_1"/>
		<mapping class="org.hibernate.in.action.book.inheritance.Table_per_class_with_unions.dto.DebitCard_1"/>
		 -->
		<!-- <mapping class="org.hibernate.in.action.book.inheritance.single_table.dto.BillingDetails_2"/>
		<mapping class="org.hibernate.in.action.book.inheritance.single_table.dto.CreditCard_2"/>
		<mapping class="org.hibernate.in.action.book.inheritance.single_table.dto.DebitCard_2"/>
		
		<mapping class="org.hibernate.in.action.book.association.dto.Item"/>
		<mapping class="org.hibernate.in.action.book.association.dto.Bid"/>
 -->
	</session-factory>

</hibernate-configuration>